.score{
    font-size: 32px;
    font-weight: bold;
    color: red;
    font-family: "arial, sans-serif"
}

button{
    font-size: 24px;
    background-color: blue;
    color: white;
}

.result{
    font-family: "arial, sans-serif";
    font-size: 20px;
}

.overallScore{
    font-family: "arial, sans-serif";
    font-size: 40px;
    font-weight: bold;
    color: blue;
}

body{
    background-color: yellow;
    border: black solid 10px;
    padding: 50px

}